<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Prueba de componets con Angular 1.5</title>
    </head>
    <body>
        <hello hello="Hi" name="Jon"></hello>
        <br />
        <bye bye="Bye bye!" name="Jon"></bye>
        <br />
        <greet-normal classes="hello nestor" greeting="Hello" name="Nestor!"></greet-normal>
        <br />
        <greet-time classes="time" name="Joar"></greet-time>


        <hr>
        <section ng-controller="GreetingsController as gc">
            <!--TOKNOW: Entender cuando hay que ejecutar expresion o no -->
            <!--La diferencia es que no es lo mismo pasarle el valor de una variable del $scope que querer pasarle una referencia (variable) -->
            Parent: <br />
            - greeting:{{gc.parentGreeting}} <br />
            - class: {{gc.class}} <br />
            <button type="button" name="button" ng-click="gc.minHour()">-</button>
            <input type="text" name="" value="{{gc.hour}}">
            <button type="button" name="button" ng-click="gc.sumHour()">+</button>
            <br />
            Child:
            <greet-time-bind greeting="gc.parentGreeting" name="Joar" classes="gc.class"></greet-time-bind>
        </section>

        <hr>
        <section ng-controller="ParliamentController as pc">
            Parent: <br />
            - lastVote: {{pc.lastVote}} <br />
            <ul>
                <li ng-repeat="entity in pc.parliament.entities">{{entity.name}}: {{entity.points}} votos</li>
            </ul>
            <br />
            Child:<br />
            <parliament-chart parliament="pc.parliament" last="pc.lastVote" ></parliament-chart>
        </section>

        <hr>
        <section ng-controller="EntityNewController as enc">
            Parent: <br />
            - newEntity: {{enc.newEntity}}
            <ul>
                <li ng-repeat="entity in enc.parliament.entities">{{entity.name}}: {{entity.select}}</li>
            </ul>
            <br />
            Child:<br />
            <parliament-add entity="enc.newEntity" on-add-entity="enc.addEntity()"></parliament-add>
        </section>


        <script type="text/javascript" src="./node_modules/angular/angular.min.js"></script>
        <script type="text/javascript" src="./lib/modules/due-binding.js"></script>
        <script type="text/javascript" src="./lib/modules/one-binding.js"></script>
        <script type="text/javascript" src="./lib/modules/expression-attribute.js"></script>
        <script type="text/javascript" src="./lib/modules/string-attribute.js"></script>
        <script type="text/javascript" src="./lib/app.js" ></script>
    </body>
</html>
